.navbar input[type="checkbox"],
.navbar .hamburgerLines {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  color: #000;
  opacity: 0.85;
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.container {
  max-width: 90vw;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.active {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  position: relative;
  display: inline;
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid var(--primaryColor);
}

.menuItems {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 2.3rem;
}

.li {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  position: relative;
  display: inline;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: var(--primaryColor);
  transition: all 0.45s;
}

.li:hover {
  color: var(--primaryColor);
  font-weight: 600;
}

.li:hover:after {
  width: 100%;
  left: 0;
}

.logoutBtn {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  position: relative;
  display: inline;
  color: black;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logoutBtn:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: var(--primaryColor);
  transition: all 0.45s;
}

.logoutBtn:hover {
  color: var(--primaryColor);
  font-weight: 600;
}

.logoutBtn:hover:after {
  width: 100%;
  left: 0;
}

/* Media queries */
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbarContainer input[type="checkbox"],
  .navbarContainer .hamburgerLines {
    display: block;
  }

  .navbarContainer {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbarContainer input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbarContainer .hamburgerLines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbarContainer .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbarContainer .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menuItems {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .active {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
  }
  .logoutBtn {
    margin-bottom: 1.8rem;
    margin-left: 0;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
  }
  .logo {
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 2.5rem;
  }

  .submenu {
    margin: 0;
    padding: 0;
    outline: 0;
    /* max-height: 100px; */
  }

  .navbarContainer input[type="checkbox"]:checked ~ .menuItems {
    transform: translateX(0);
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
    transform: rotate(45deg);
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
    transform: scaleY(0);
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbarContainer input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
