.mySwiper {
  max-height: 100vh;
}

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}

.swiper-slide {
  /* fade */
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
