@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Libre+Baskerville:wght@700&display=swap");

#header {
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--secondaryColor),
    var(--primaryColor)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--secondaryColor),
    var(--primaryColor)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  max-width: 100%;
  display: flex;
  align-items: center;
  max-height: 50vh;
  margin: 0;
  padding: 1rem 0;
}

#imgContainer {
  max-width: 20vw;
  text-align: center;
}
#imgContainer img {
  height: auto;
  width: clamp(50%, 8rem, 150%);
}

#text {
  width: 80vw;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

#heading {
  font-size: clamp(100%, 5vw, 500%);
  letter-spacing: 1vw;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  margin: 0;
}

#caption {
  font-size: clamp(70%, 3vw, 500%);
  letter-spacing: 0.7vw;
  font-family: "Cinzel", serif;
  margin: 1rem 0 0 0;
}
