#container {
  background-color: var(--secondaryColor);
  color: white;
  /* height: vh; */
  width: 100%;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 99;
  margin-top: 2rem;
}
#subContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}
#copyright {
  font-size: clamp(0.5rem, 4vw, 1rem);
}
.copyrightIcon {
  position: relative;
  top: 0.3rem;
  padding: 0 3px;
}
.socialLink {
  color: inherit;
  margin-right: 0.5rem;
}
.facebookIcon,
.whatsppIcon,
.instagramIcon,
.youtubeIcon {
  transition: all 0.1s ease-out;
  margin: 0;
  transform: scale(1);
  background-color: initial;
}
.facebookIcon:hover {
  border-radius: 3px;
  background-color: #1877f2;
  color: white;
  transform: scale(1.5);
  margin: 0 1rem;
  transition: all 0.3s ease-in;
}
.instagramIcon:hover {
  border-radius: 3px;
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: white;
  transform: scale(1.5);
  margin: 0 1rem;
  transition: all 0.3s ease-in;
}
.whatsappIcon:hover {
  border-radius: 3px;
  background-color: #25d366;
  color: white;
  /* color: #25d366; */
  transform: scale(1.5);
  margin: 0 1rem;
  transition: all 0.3s ease-in;
}
.youtubeIcon:hover {
  border-radius: 3px;
  background-color: #ff0000;
  color: white;
  transform: scale(1.5);
  margin: 0 1rem;
  transition: all 0.3s ease-in;
}

#developer {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
#developer > a {
  color: initial;
  text-decoration: none;
  font-size: large;
}
/* Media Queries */
@media screen and (max-width: 576px) {
  #subContainer {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  #developer {
    padding-top: 0.5rem;
  }
  #developer > a {
    font-size: initial;
  }
}
