@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=EB+Garamond&family=Jost:wght@500&display=swap");

.container {
  margin: 0 auto;
  width: 80vw;
  margin-bottom: 5rem;
}
.mainHeading {
  font-size: clamp(1.5rem, 13vw, 2.5rem);
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  font-family: "Jost", sans-serif;
  text-align: center;
  color: var(--primaryColor);
  text-underline-offset: 0.5rem;
  text-decoration: underline;
}

.subHeading {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.para {
  font-family: "EB Garamond", serif;
  text-align: justify;
  font-size: large;
  line-height: 200%;
}

@media screen and (max-width: 576px) {
  .container {
    margin-bottom: 10rem;
  }
}
