:root {
  --primaryColor: #1a2980;
  --secondaryColor: #26d0ce;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}
#root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  margin-bottom: 5rem;
  scroll-behavior: smooth;
}
